@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


html{
  font-size: 80%;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  margin: auto;
}


main {
  margin-top: 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 75vh;
  width: 80%;
  border-radius: 30px;
}

main h2 {
  text-align: center;
  margin: 15px 35px;
  font-size: 1.7rem;
}

.welcomeScreen {
  display: flex;
  flex-direction: column;
}

.event-Sec p {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

.btn-wraper {
  display: flex;
  flex-direction: column;
}

button {
  width: 80%;
  margin: 7px auto;
  background: #581b98;
  height: 50px;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  cursor: pointer;
}

/* Game Section */

.game-sec {
  display: flex;
  flex-direction: column;
  display: none;
}

.game-sec h2 {
  font-size: 2rem;
  margin: 30px 0;
}

.game-sec input {
  margin: auto;
  width: 38%;
  padding: 15px 0;
  outline: none;
  text-align: center;
  margin-bottom: 30px;
}

.game-sec p {
  margin: 20px 10px;
}

.game-sec .attempt {
  margin: 10px 10px;
  color: red;
  font-size: 2rem;
}

#new-game {
  margin-top: 40px;
  width: 45%;
  display: none;
}

.guesses {
  margin: 10px 10px;
  color: red;
  font-size: 1.3rem;
}
