* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

:root {
  --main-clr: #2d3436;
  --para-clr: #2c3e50;
}
a {
  text-decoration: none;
  color: var(--main-clr);
}
h1,h2,h3,h4,h5,h6 {
  color: var(--main-clr);
}
p {
  color: var(--para-clr);
}
header {
  height: auto;
  width: 100%;
}
html {
  font-size: 80%;
}
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1581382575275-97901c2635b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  z-index: -2;
  opacity: 0.5;
}
/*  ===========================
        Navbar
======================*/
nav {
  height: 100px;
  font-size: 1.4rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar li {
  margin: 0 10px;
}
.navbar a {
  text-decoration: none;
  margin: 0 15px;
  color: #747272;
}
.logo {
  align-self: center;
}
.logo a {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 5px;
}
.main {
  min-height: 65vh;
}
.main p {
  font-size: 2rem;
}
.btn {
  padding: 20px;
  background: #6DE393;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
}
.hello {
  font-family: 'Grenze Gotisch', cursive;
  font-family: cursive;
  align-self: stretch;
  margin: 0 20%;
  font-size: 3rem;
  color: #17b978;
  letter-spacing: 5px;
  font-weight: 500;
}
footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}
/*  ===========================
     About Section
======================*/
.about {
  margin: 5% auto;
  height: 100vh;
  width: 80%;
}
.about-heading {
  position: relative;
  font-size: 3.3rem;
}
.about-heading::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blue;
  height: 2px;
  width: 100px;
}
.para {
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin: 5% 0;
  letter-spacing: 0.5px;
}
.img {
  height: 30vh;
  width: 80%;
}
.work {
  margin-top: 3%;
  font-size: 1.7rem;
  word-spacing: 2px;
  font-style: italic;
}
.aboutMe-list {
  font-size: 2rem;
}
.aboutMe-list li {
  margin: 20px 0;
}
/*  ===========================
        For Mobile Devices 
======================*/
@media (max-width: 480px) {
  nav {
    height: 50px;
  }
  .navbar li {
    margin: 0 7px;
    font-size: 0.5rem;
    height: 6px;
  }
  .logo {
    font-size: 1.8rem;
  }
.hello {
    margin: 0 10%;
}
  .main p {
    font-size: 1.4rem;
    margin: 10px 0;
  }
  .btn {
    padding: 15px 20px;
  }
  footer {
    font-size: 1rem;
  }
  .about {
    height: 160vh;
    width: 97%;
  }
  .about-heading {
    font-size: 2.8rem;
    word-spacing: 2px;
  }
  .para {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 3%;
    text-align: center;
  }
  .img {
    height: 37vh;
    width: 100%;
    margin: 10% auto;
  }
  .work {
    margin: 3%;
    font-size: 2.5rem;
    word-spacing: 1px;
  }
.aboutMe-list {
  font-size: 1.4rem;
}
.aboutMe-list li {
  margin: 15px ;
}
}
