* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;

}

a{
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  width: 100%;
}


html {
  font-size: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1581382575275-97901c2635b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  z-index: -2;
  opacity: 0.5;
}

/*  ===========================
        Navbar
======================*/


nav {
  height: 100px;
  font-size: 1.4rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: sticky;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  margin: 0 15px;
  color: #747272;
}

.logo {
      align-self: center;

}


.logo a {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.main {
  min-height: 70vh;
}

.main p {
  font-size: 2rem;
}

.btn {
  padding: 20px;
  background: #6DE393;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
}


.hello {
    font-family: 'Grenze Gotisch', cursive;
    font-family: cursive;
  align-self: stretch;
  margin: 0 20px;
  font-size: 3rem;
  color: #17b978;
  letter-spacing: 5px;
  font-weight: 500;
}

footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 2rem;
}


/*  ===========================
        For Mobile Devices 
======================*/

@media (max-width: 480px) {

  nav {
    height: 50px;
  }


  .navbar li {
    margin: 0 7px;
    font-size: 0.5rem;
    height: 6px;
  }



  .logo {
    font-size: 1.8rem;
  }

  .main p {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .btn {
    padding: 15px 20px;
  }

footer {
    font-size: 1rem;
}

}
